@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>The Project is an improved version of the previous Project Manager Project. The current version has the options for administrators to manage the workers.
    Admins can also add other administrators. This allows them to make the process more flexible. The idea of the project is to create a web based project
    that has the necessary functionallity for workers and administrators when completing tasks and projects.
</p>
